*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background: linear-gradient(180deg, darkblue 0%, darkblue 5%, hsl(220, 100%, 35%) 35%,hsl(220, 100%, 35%) 65%, darkblue 95%, darkblue 100%) */
    background-color: #161623;
}

body::before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(red, #f0f);
    clip-path: circle(25% at right 80%)
}

body::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: linear-gradient(red, purple);
    clip-path: circle(15% at 5% 5%);
    z-index: -1;
}

#title {
    color: black;
    text-shadow: 0px 0px 2px white;
    font-size: 3.5rem;
    margin-top: 5rem;
    margin-left: 1.5rem;
}

#background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin-top: -144px;
}

#background fieldset {
    width: 395px;
    height: 550px;
    border-radius: 15px;
    border: none;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px)
}

#background form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    height: 550px;
    align-items: center;
    padding: 5rem;
    border: 2px solid black;
    border-radius: 15px;
    width: 395px;
}

#background form input {
    width: 265px;
    height: 47px;
    border-radius: 10px;
    padding-inline: 1rem;
    background-color: hsl(0, 0%, 93%);
    border: 1px solid gray;
    font-size: 1.1rem;
    margin-bottom: 1.4rem;
    outline: none;
    color: black;
    font-family: 'Poppins'
}

#background form button {
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Open Sans';
    width: 220px;
    border: none;
    background-color: hsl(265, 100%, 25%);
    color: white;
    font-weight: bold;
    font-family: 'Poppins'
}

#background #registration-section {
    background-color: rgba(255, 255, 255, 0.25);
    position: absolute;
    border: none;
}

#background #login-section {
    position: absolute;
    bottom: -30.2rem;
    background-color: hsl(0, 0%, 85%);
    border-radius: 70px 70px 15px 15px;
    transition: 0.9s;
    transition-timing-function: ease-in-out;
    border: none;
}

#background #login-section input:first-of-type {
    margin-top: 0rem;
}

/* LOGIN / REGISTER TITLES */

#background #login-section label {
    color:hsl(265, 100%, 25%);
    text-shadow: none;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.7s;
    margin-top: -16.6rem;
    margin-bottom: 2rem;
    font-family: 'Poppins'
}

#background #registration-section h1 {
    font-size: 3.1rem;
    color: white;
    transition: 0.7s;
    margin-top: -2rem;
    margin-bottom: 4rem;
    font-family: 'Poppins'
}

/* APPEAR LOGIN WINDOW */

#on-off:checked ~ #login-section {
    bottom: -10.5rem;
}

#on-off:checked ~ #registration-section h1 {
    transform: scale(0.6)
}

#on-off:checked ~ #login-section label {
    font-size: 1.6rem;
    margin-top: -12rem
}


input[type='checkbox'] {
    display: none;
}