*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: hsl(200, 50%, 10%);
    --login-font: 'Libre Baskerville', 'cursive';
    --login-effect-color: hsl(200, 100%, 65%);
    --registration-section-color: hsl(0, 0%, 82%);
    --login-section-color: hsla(0, 0%, 100%, 0.35);
}


body {
    background-color: var(--main-color)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    height: 60px;
}

header h1 {
    color: white;
    text-shadow: 0px 0px 2px black;
}

header i {
    color: white;
    font-size: 2.2rem;
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(-180deg);
    text-shadow: 0px 0px 2px black;
}

header i:hover {
    transform: rotate(0deg)
}

#background {
    display: flex;
    height: 100vh;
    margin-top: -60px;
    justify-content: center;
    align-items: center;
}

#background form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    border: 2px solid black;
    background-color: hsla(0, 0%, 100%, 0.35);
    width: 525px;
    height: 600px;
    border-radius: 15px;
}

#background form input {
    width: 350px;
    height: 50px;
    border-radius: 10px;
    padding-inline: 1rem;
    background-color: var(--main-color);
    border: 1px solid gray;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    outline: none;
    color: white;
}

#background form button {
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.6rem;
    font-family: var(--login-font);
    width: 250px;
    border: none;
}

#background #registration-section {
    background-color: hsl(0, 0%, 82%);
    position: absolute;
}

#background #login-section {
    display: none;
}


/* SPAN POSITION BOTH SECTIONS */

#background span {
    position: absolute;
    color: gray;
    pointer-events: none;
    font-size: 1.4rem;
    font-family: var(--login-font);
    transition: 0.7s;
    padding-inline: 0.3rem;
    left: 6rem;
}


#background #login-section span:nth-of-type(1) {
    bottom: 22.6rem;
}

#background #login-section span:nth-of-type(2) {
    bottom: 17.6rem;
}

#background #registration-section span:nth-of-type(1) {
    bottom: 25.3rem;
}

#background #registration-section span:nth-of-type(2) {
    bottom: 20.1rem;
}

#background #registration-section span:nth-of-type(3) {
    bottom: 15rem;
}

#background form input:focus {
    border-color: hsl(200, 100%, 65%);
}

/* LOGIN PANEL EFFECTS */

#background #login-section input:nth-of-type(1):valid ~span:nth-of-type(1),
#background #login-section input:nth-of-type(2):valid ~span:nth-of-type(2), 
#background #login-section input:nth-of-type(1):focus ~span:nth-of-type(1),
#background #login-section input:nth-of-type(2):focus ~span:nth-of-type(2){
    font-size: 0.8rem;
    transform: translate(-2px, -32px);
    border-left: 1px solid var(--login-effect-color);
    border-right: 1px solid var(--login-effect-color);
    color: var(--login-effect-color);
    background-color: var(--main-color);
}

/* REGISTER PANEL EFFECTS */

#background #registration-section input:nth-of-type(1):focus ~span:nth-of-type(1),
#background #registration-section input:nth-of-type(2):focus ~span:nth-of-type(2),
#background #registration-section input:nth-of-type(3):focus ~span:nth-of-type(3),
#background #registration-section input:nth-of-type(1):valid ~span:nth-of-type(1),
#background #registration-section input:nth-of-type(2):valid ~span:nth-of-type(2),
#background #registration-section input:nth-of-type(3):valid ~span:nth-of-type(3) {
    font-size: 0.8rem;
    transform: translate(-2px, -32px);
    border-left: 1px solid var(--login-effect-color);
    border-right: 1px solid var(--login-effect-color);
    color: var(--login-effect-color);
    background-color: var(--main-color);
}

/* CHANGE WINDOW */

#change-window-to-login, #change-window-to-registration {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    position: absolute;
    font-size: 2.6rem;
    font-family: 'Impact';
    letter-spacing: 2px;
    cursor: pointer;
}

#change-window-to-login {
    background-color: var(--login-section-color);
    bottom: 0;
    border-radius: 100px 100px 0px 0px;
}

#change-window-to-registration {
    top: 0;
    border-radius: 0px 0px 100px 100px;
    background-color: var(--registration-section-color);
}