*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: hsl(200, 50%, 10%);
    --login-font: 'Libre Baskerville', 'cursive';
    --login-effect-color: hsl(200, 100%, 65%);
    --registration-section-color: rgba(255, 255, 255, 0.5);
    --login-section-color: hsla(0, 0%, 100%, 0.35);
}


body {
    background: linear-gradient(180deg, darkblue 0%, darkblue 5%, hsl(220, 100%, 35%) 35%,hsl(220, 100%, 35%) 65%, darkblue 95%, darkblue 100%)
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    height: 60px;
}

header h1 {
    color: white;
    text-shadow: 0px 0px 2px black;
}

header i {
    color: white;
    font-size: 2.2rem;
    cursor: pointer;
    transition: 0.5s;
    transform: rotate(-180deg);
    text-shadow: 0px 0px 2px black;
}

header i:hover {
    transform: rotate(0deg)
}

#background {
    display: flex;
    height: 100vh;
    margin-top: -60px;
    justify-content: center;
    align-items: center;
}

#background form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    border: 2px solid black;
    background-color: hsla(0, 0%, 100%, 0.35);
    width: 425px;
    height: 500px;
    border-radius: 15px;
}

#background form input {
    width: 235px;
    height: 40px;
    border-radius: 10px;
    padding-inline: 1rem;
    background-color: hsl(0, 0%, 85%);
    border: 1px solid gray;
    font-size: 1.1rem;
    margin-bottom: 2rem;
    outline: none;
    color: white;
}

#background form button {
    height: 37px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    font-family: 'Open Sans';
    width: 170px;
    border: none;
    background-color: hsl(250, 100%, 25%);
    color: white;
    font-weight: bold;
}

#background #registration-section {
    background-color: var(--registration-section-color);
    position: absolute;
}

#background #login-section {
    position: absolute;
    overflow: hidden;
    height: 10px;
    bottom: 0;
}


/* SPAN POSITION BOTH SECTIONS */

#background span {
    position: absolute;
    color: gray;
    pointer-events: none;
    font-size: 1.1rem;
    font-family: var(--login-font);
    transition: 0.7s;
    padding-inline: 0.3rem;
    left: 6rem;
}

#background form input:focus {
    border-color: hsl(200, 100%, 65%);
}

/* CHANGE WINDOW */

#change-window-to-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    position: absolute;
    font-size: 2.6rem;
    font-family: 'Impact';
    letter-spacing: 2px;
    cursor: pointer;
}

#change-window-to-login {
    background-color: var(--login-section-color);
    bottom: 0;
    border-radius: 100px 100px 0px 0px;
}