*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: rgb(0, 0, 0, 0.1);
    --header-color: rgb(245, 245, 245);
    --users-follow-color: rgb(240, 240, 240);
    --user-card-color: white;
    --follow-button-color: rgb(235, 235, 235);
    --posts-header-color: rgb(240, 240, 240);
    --reactions-color: rgb(240, 240, 240);
    --interactions-color: rgb(240, 240, 240);
    --comments-color: rgb(245, 245, 245);
    --enter-comment-color: rgb(235, 235, 235);
    --comment-color: rgb(235, 235, 235);
    --upload-file-color: rgb(235, 235, 235);
    --search-color: rgb(235, 235, 235);
}

html {
    font-size: 62.5%
}

body {
    width: 100%;
    min-height: 100vh;
    background: var(--background-color);
    font-size: 5rem;
}

#bold {
    font-weight: bold;
}

/* header style */

#background header {
    height: 80px;
    width: 100%;
    background: var(--header-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
}

#background header input[type="text"] {
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 20px;
    padding-left: 3.5rem;
    font-size: 1.8rem;
    outline: none;
    background-color: var(--search-color);
}

#background header label[for="search"] {
    font-size: 1.6rem;
    position: absolute;
    left: 3.2rem;
    top: 3.1rem;
    color: gray;
}

#background header ul {
    display: flex;
    gap: 6rem;
    list-style: none;
}

#background header ul .fas {
    font-size: 3rem;
    position: relative;
    top: -0.4rem;
    right: 2.5rem;
    cursor: pointer;
}

#background header input[type="file"] {
    display: none;
}

/* UPLOAD BUTTON EFFECTS AND APPEARANCE */

#background header label[for="photo-video"] {
    position: absolute;
    background-color: var(--upload-file-color);
    z-index: 1;
    width: 225px;
    height: 45px;
    border-radius: 50px;
    right: 35rem;
    transition: 0.5s;
    color: black;
    font-size: 2rem;
    padding-top: 1.1rem;
    text-align: center;
    font-family: sans-serif;
    overflow: hidden;
    cursor: pointer;
}

#background header label[for="photo-video"]::before {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, transparent 50%, hsl(240, 0%, 80%));
    top: 0;
    left: -100%;
}

#background header label[for="photo-video"]::after {
    position: absolute;
    content: '';
    height: 3px;
    width: 100%;
    background: linear-gradient(90deg, hsl(240, 0%, 80%), transparent 50%);
    bottom: 0;
    right: -100%;
}

#background header label[for="photo-video"]:hover::after {
    right: 100% ;
    transition: 1s;
    transition-delay: 0.25s;
}

#background header label[for="photo-video"]:hover::before {
    left: 100% ;
    transition: 1s;
}

#background header label[for="photo-video"]:hover {
    transition-delay: 0.6s;
    box-shadow: 0px 0px 5px 1px hsl(240, 0%, 80%),
    0px 0px 10px 2px hsl(240, 0%, 80%);
    background-color: hsl(240, 0%, 80%);
    letter-spacing: 0.5px;
}

/* END OF CHANGES IN UPLOAD BUTTON */

#photo-wrapper, .photo-wrapper, #profile-wrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#photo-wrapper img, .photo-wrapper img, #profile-wrapper img {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
}

#background header ul #photo-wrapper {
    position: relative;
    top: 1rem;
    right: 2.5rem;
}

#background header ul #photo-wrapper img {
    width: 100%;
    border-radius: 50px;
    height: 100%;
    position: absolute;
}

/* FOLLOW USERS SECTION */

#follow-users {
    width: 400px;
    height: 350px;
    position: relative;
    top: 16rem;
    background-color: var(--users-follow-color);
    border-radius: 2rem;
    padding: 1rem;
    left: 60%;
    box-shadow: 0px 0px 15px black;
}

#follow-users h3, #follow-users p {
    color: gray;
}

#follow-users h3 {
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-top: 0.3rem;
}

#follow-users p[id="refresh"]{
    font-size: 2rem;
    display: block;
    position: absolute;
    right: 4rem;
    top: 1.5rem;
    cursor: pointer;
}

#follow-users #users-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 300px;
    width: 100%;
    border-radius: 0px 0px 2rem 2rem;
    background-color: var(--user-card-color);
    bottom: 0rem;
    right: 0.05rem;
    padding-bottom: 0.5rem;
}

#follow-users #users-card hr {
    background-color: gray;
    border-color: gray;
    opacity: 0.2;
}

#follow-users #users-card .photo-wrapper {
    position: relative;
    top: 50%;
    transform: translate(50%, -50%)
}

#follow-users #users-card p[id="name"] {
    position: relative;
    font-size: 2rem;
    color: black;
    bottom: 22%;
    left: 3%;
    transform: translate(18%, 10%);
    transition: 0.5s;
    cursor: default;
    width: 85%;
}

#follow-users #users-card .user {
    height: 25%;
}

#follow-users #users-card .followers {
    font-size: 1.5rem;
    position: relative;
    bottom: 30%;
    left: 18.3%;
    cursor: default;
    font-weight: bold;
    color: black;
    transition: 0.5s;
    opacity: 0;
    width: 80%
}

#follow-users #users-card .user button {
    position: absolute;
    width: 11rem;
    height: 3.5rem;
    left: 65%;
    font-size: 2rem;
    letter-spacing: 0.1rem;
    border-radius: 2rem;
    border: none;
    opacity: 0;
    transition-duration: 0.5s;
    background-color: var(--follow-button-color);
}

#follow-users #users-card .user.first button {
    top: 2rem;
}

#follow-users #users-card .user.second button {
    top: 9.7rem
}

#follow-users #users-card .user.third button {
    bottom: 9.3rem;
}

#follow-users #users-card .user.fourth button {
    bottom: 1.6rem;
}

/* FOLLOW-USERS EFFECTS*/

#follow-users #users-card .user:hover p[id="name"] {
    bottom: 40%;
}

#follow-users #users-card .user:hover .followers {
    opacity: 1;
}

#follow-users #users-card .user:hover button {
    opacity: 1;
}

#follow-users #users-card .user button:hover {
    cursor: pointer;
    letter-spacing: 0.2rem;
    box-shadow: 0px 0px 5px 2px gray,
    0px 0px 6px 4px gray; 
}

/* POSTS SECTION */

#posts-container {
    position: relative;
    width: 550px;
    min-height: 90vh;
    left: 25%;
    bottom: 18.5rem;
    border-radius: 1rem;
    overflow: hidden;
}

#posts-container header {
    width: 100%;
    height: 5rem;
    padding: 1.3rem;
    background-color: var(--posts-header-color);
}

#posts-container header p {
    font-size: 1.7rem;
    margin-top: -2.2rem;
    margin-left: 4rem;
}

#posts-container header i {
    position: absolute;
    font-size: 3rem;
    right: 3rem;
    top: 1.15rem;
    cursor: pointer;
}

#posts-container #image-wrapper {
    width: 100%;
    height: 100%
}

#posts-container #image-wrapper img {
    width: 100%;
}

#posts-container #reactions {
    width: 100%;
    background-color: var(--reactions-color);
    height: 5rem;
    border-bottom: 0.2px solid hsl(240, 5%, 85%);
    padding-top: 1.3rem;
    margin-top: -1.1rem;
}

#posts-container #profiles-wrapper {
    display: flex;
    margin-left: 1rem;
}

#posts-container #profile-wrapper {
    position: relative;
    width: 25px;
    height: 25px;
    bottom: 1px;
}

#posts-container #profile-wrapper:nth-child(2) {
    left: -1rem;
}

#posts-container #profile-wrapper:nth-child(3) {
    left: -2rem;
}

#posts-container p {
    position: absolute;
    font-size: 2rem;
    margin-left: 7.5rem;
}

/* INTERACTIONS SECTION */

#posts-container #interactions {
    display: flex;
    width: 100%;
    height: 4.5rem;
    align-items: center;
    justify-content: space-between;
    background-color: var(--interactions-color);
    font-size: 2.5rem;
    padding-inline: 2rem;
}

#posts-container #interactions .fa-message {
    position: absolute;
    left: 8rem;
    transform: translate(0, -50%);
    font-size: 2.3rem;
    cursor: pointer;
}

/* COMMENTS SECTION */

#posts-container #comments {
    width: 100%;
    height: 22rem;
    background-color: var(--comments-color);
    position: relative;
    border-radius: 0px 0px 1rem 1rem;
}

#posts-container #comments input[type='text'] {
    position: absolute;
    width: 90%;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -6%);
    height: 4rem;
    padding: 1.8rem;
    border-radius: 1.5rem;
    font-size: 1.7rem;
    background-color: var(--enter-comment-color);
    border: none;
}

#posts-container #comments #comment-messages {
    width: 100%;
    height: 15.4rem;
    display: flex;
    flex-flow: column;
    overflow-y: scroll;
    padding-bottom: 4rem;
    gap: 3rem;
    position: relative;
}

#posts-container #comments #comment-messages::-webkit-scrollbar {
    display: none;
}

#posts-container #comments input[type="file"] {
    display: none;
}

#posts-container #comments input[id="image"] {
    right: 8rem;
}

#posts-container #comments input[id="video"] {
    right: 4rem;
}

#posts-container #comments .fas {
    position: absolute;
    bottom: 2.2rem;
    font-size: 2rem;
    cursor: pointer;
}

#posts-container #comments .fa-image {
    right: 8rem;
}

#posts-container #comments .fa-video {
    right: 4rem;
}

/* COMMENTS */

#comment-content #profile-wrapper {
    position: relative;
    bottom: -2.7rem;
    margin-left: 2.5rem;
}

#comments #comment-messages #comment #comment-content p{
    z-index: 1;
}

#comments #comment-messages #comment #comment-content p::before{
    content: '';
    position: absolute;
    background-color: var(--comment-color);
    width: calc(100% + 2rem);
    left: -1rem;
    height: calc(100% + 0.5rem);
    z-index: -1;
    bottom: -0.25rem;
    border-radius: 10px;
    border-top: 1px solid gray;
}

/* APPEARING WINDOW - POST*/

#posts-container #post #post-options {
    position: absolute;
    height: 50px;
    width: 250px;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    top: 6rem;
    right: 2.6rem;
    display: none;
    flex-flow: column;
}

#posts-container #post #post-options i {
    color: rgb(240, 240, 240);
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    transform: rotate(-90deg);
    top: -1rem;
}

#posts-container #post #post-options #close-sign {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 3rem;
    font-weight: bold;
    transform: rotate(45deg);
    cursor: pointer;
}

#posts-container #post #post-options button {
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 10%);
    border: none;
    border-radius: 20px;
    padding: 1rem;
    font-size: 1.8rem;
}

#report-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    z-index: 2;
}

#report-message {
    text-align: center;
    width: 450px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    position: relative;
}

#report-background #report-message i {
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%)
}

#report-background #report-message p {
    margin-top: 6rem;
}