*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #888;
    font-size: 5rem;
}

/* header style */

#background header {
    height: 60px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 2rem;
}

#background header input[type="text"] {
    width: 250px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50px;
    padding-left: 3.5rem;
    font-size: 1.8rem;
}

#background header label[for="search"] {
    font-size: 1.6rem;
    position: absolute;
    left: 3.4rem;
    top: 2.1rem;
    color: gray;
}

#background header ul {
    display: flex;
    gap: 6rem;
    list-style: none;
}

#background header ul .fas {
    font-size: 3rem;
    position: relative;
    top: -0.4rem;
    right: 2.5rem;
    cursor: pointer;
}

#background header input[type="file"] {
    position: relative;
    right: -79rem;
}

#background header label[for="photo-video"] {
    position: relative;
    background-color: black;
    z-index: 1;
    width: 250px;
    height: 45px;
    border-radius: 50px;
    right: -20rem;
    transition: 0.5s;
    color: linen;
    font-size: 2.2rem;
    padding-top: 1.1rem;
    text-align: center;
    font-family: sans-serif;
}

#background header label[for="photo-video"]:hover {
    background-color: hsl(240, 0%, 20%);
    cursor: pointer;
}

#background header ul #photo-wrapper {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    top: 1.4rem;
    right: 2.5rem;
}

#follow-users {
    width: 400px;
    height: 300px;
    position: relative;
    left: 120rem;;
    top: 12rem;
    background-color: hsl(240, 5%, 90%);
    border-radius: 2rem;
    padding: 1rem;
}

#follow-users h3, #follow-users p {
    color: gray;
}

#follow-users h3 {
    font-size: 2.5rem;
    padding-left: 1rem;
    padding-top: 0.4rem;
}

#follow-users p[id="refresh"]{
    font-size: 2rem;
    display: block;
    position: absolute;
    right: 4rem;
    top: 1.8rem;
    cursor: pointer;
}

#follow-users #users-card {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 250px;
    width: 100%;
    border-radius: 0px 0px 2rem 2rem;
    background-color: white;
    opacity: 0.5;
    bottom: 0rem;
    right: 0.05rem;
}

#follow-users #users-card .user {
    width: 100%;
    height: 25%;
}

#follow-users #users-card hr {
    height: 0.5px;
    margin-inline: auto;
    background-color: gray;
    border-color: gray;
    opacity: 0.5;
    width: 100%;
}

#follow-users #users-card #photo-wrapper {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid black;
    top: 50%;
    transform: translate(50%, -50%)
}

#follow-users #users-card p[id="name"] {
    position: relative;
    font-size: 1.5rem;
    color: black;
    bottom: 50%;
    transform: translate(18%, 10%)
}

#follow-users #users-card #followers {
    font-size: 1.2rem;
    position: relative;
    bottom: 40%;
    left: 20%;
}

#follow-users #users-card button {
    position: relative;
    width: 11rem;
    height: 3.5rem;
    border-radius: 2rem;
}

#follow-users #users-card button {
    position: relative;
    bottom: 110%;
    left: 65%;
}

#follow-users #users-card .last {
    bottom: 120%;
}

